= content_for(:title) { 'Edit Custom Shop | SWRPG Shop Generator' }
= content_for(:body_attributes) { 'false' }
= react_component("CustomShop", items: @items, worlds: @worlds, specializedShops: @specialized_shops, currentItems: @current_items, shopInfo: @shop_info)
