= content_for(:title) { 'New Custom Shop | SWRPG Shop Generator' }
= content_for(:body_attributes) { 'false' }
= react_component("CustomShop", items: @items, worlds: @worlds, specializedShops: @specialized_shops)
