h1.display-4= "Hey there, #{@user.email}"

p Just a quick note to let you know that you're trial is ending soon!

p We hope you've found SWRPG Shop useful and continue with your subscription. If not, feel free to cancel by clicking below.
 
p If you haven't found the site useful, mind shooting us a note with how we can improve? Email us: support@swrpg-shop.com

= link_to 'Cancel Your Subscription', subscriptions_url, class: 'btn btn-outline-danger'
