/*
 *= require tether
 *= require_tree .
 *= require_self
 */
// $primary:   #2F69D4;
// $success:   #4ECD70;
// $secondary: #979FBD;
// $danger:    #F7324D;
// $warning:   #FFCA4B;
// $info:      #00C1E4;
// $dark:      #1F222D;

$enable-shadows: true;
@import "bootswatch/cosmo/variables";
@import "bootstrap";
@import "bootswatch/cosmo/bootswatch";
@import "font-awesome";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  box-shadow: 0px 1px 2px 0px rgba(202, 202, 202, 0.59)
}

.customize-card-header {
  background: radial-gradient(#4a94e8, $primary);

  h1 {
    text-shadow: 1px 0 rgba(105, 105, 105, 0.35);
  }
}

.generate-card-header {
  background: radial-gradient($warning, #ff6503);
  
  h1 {
    text-shadow: 1px 0 rgba(105, 105, 105, 0.35);
  }
}

.share-card-header {
  background: radial-gradient(#a7dc5a, $success);

  h1 {
    text-shadow: 1px 0 rgba(105, 105, 105, 0.35);
  }
}

ul.feature-list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    background: url(image-path('success.svg')) no-repeat left top;
    background-size: 23px;
    padding-left: 30px;
  }
}

.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.stripe-button-el {
  display: none !important;
}

.hint {
  @extend small;
  @extend .text-muted;
}
